*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
}
html,body{
    scroll-behavior: smooth;
}

.home {
    
    height: 100vh;
    overflow: hidden;
   
        

}

.landing >img{
    width: 100%;
    margin-top: 10%;
}
.vector{

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}
.nav-bar li{
    transform:translatey(-100%);
    opacity:0;
    transition:0.2s;
}
.nav-bar li:nth-child(4){
    transition-delay:0.1s;
}
.nav-bar li:nth-child(3){
    transition-delay:0.2s;
}
.nav-bar li:nth-child(2){
    transition-delay:0.3s;
}
.nav-bar li:nth-child(1){
    transition-delay:0.4s;
}
.svg-menu{
    position: relative;
    z-index:10;
}

.nav-img{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    /* margin-top: 100%; */
    
}
.header{
    /* border: 3px solid black; */
}
.nav-name{
    margin-top: 10px;
    display: flex;
    /* border: 2px solid black; */
    width: 100%;
    align-items: center;
    /* justify-content: center; */
    /* justify-content: space-around; */
    margin-bottom: 10px;
}
.nav-name h2{
    padding-left: 1rem;
    margin-right: auto;
    /* width: 80%; */
    /* margin-left: 23px; */
}
.nav-img>img{
    width: 25px;
    margin-bottom: 5px;
    text-align: center;
    
}
.nav-bar{
     width: 100%;
     /* margin-top: -20%; */
     /* margin-left: 65%; */
     /* background-color: red;; */
}
.nav-bar>ul{ 
       
        display: flex;        
        justify-content: space-around;
        align-items: center;         
        /* height:20vh ;  */
        width: 100%;
        /* border: 3px solid black;      */
     
        list-style: none;

}
svg{
     width:100px;
     height: 40px;
     padding-left: 1rem;;
   
}
#clc{
        display: none;
        transition: 1s;
        
}
.header{
    /* transition: 1s; */
    /* transform: translateX(100%); */
    /* visibility: hidden; */
        
}


#clc:checked ~ .header ul li{      
       transform: translatey(0%);
       opacity:1;
    }

 
.hometxt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    /* border: 3px solid black;   */
}  


.micons>a>img{
    height: 20px;
    width: 20px;
}

.micons{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;    
    width: 80%;
    margin: auto ;
    padding: 1em;
  
}
    
h1{
    font-weight: 80px;
    font-size: 2em;
    padding-bottom: 5px;
}
    
.int{
    font-size: 1em;
    font-weight: 10;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.details>img{
    width: 80%;
    border-radius: 50%;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.15);

}
.details *{
    text-align: center;
    
    overflow: hidden;
    /* background-color: #232322; */
    /* color: white; */

}
.details >h1{
    /* color: rgba(0,0, 0, 0.5); */
    margin-top: 5px;
}
.details >h3{
    color: rgba(0,0, 0, 0.5);
    margin-top: 5px;
    /* color: white; */
}
.details >p{
    padding: 20px;
    font-size: 1.35em;
    color: rgba(0,0, 0, 0.5);
    text-align: justify;
    color: rgb(255, 255, 255,0.);
}
.box{
    display: flex;
    background-color: #017DEC;
    
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;    
}

.bar{
    padding: 0% 5% 0 0;
    margin: 4%;
    margin-left: 4%;
    margin-right: 4%;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.3)inset;  
    color: white;
    border-radius: 20px;
    
}
.bar1{
    width: 100%;
}
.bar2{
    width: 94%;
}
.bar3{
    width: 93%;
}


.box >p{
    font-size: 1.3em;
}
.plist{
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pts>img{
    width: 100%;
    height: 80%;
   

    
} 
.pts{
    display: flex;
    justify-content: center;
    justify-content: center;
    border: 5px solid #017DEC;
    width: 90%;
    margin: 5%;
    position: relative;
}
.projects >h1{
    text-align: center;       
    /* color: white; */
    padding-top: 10%;
}
.projects{
    background-color: white;
    overflow: hidden;
}

.hver{
    width: 100%;
    height: 100%;
    position: absolute;  
    background-color: #232322;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.1em;
    opacity: 0;
    /* transition: 0.5s; */

}

.hver >p{
    margin-bottom: 5%;
    color: white;

}
.hver >a{
    background-color: #017DEC;
    padding: 15px;
    border-radius: 30px;
    color: white;
}
.pts:hover .hver{
    opacity: 1;
    transition: 0.5s;
}
.reviews{
    margin:16px ;
  
    position: relative;
    padding-bottom: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* background-color: #232322; */
    text-align: center;

    

}
.reviews >h2{
    text-align: center;
    font-size: 2rem;
}
.rbtn{
    position: absolute;
    /* width: 30px; */
    bottom: 8px;
    left: 8px;
    transition: 0.5s;
    display: inline-block;
   
}
.reviews input:nth-child(2){    

    left: 40%;
    
}
.reviews input:nth-child(3){    
    
    left: 45%;    
    margin-left: 10px;
    
}
.reviews input:nth-child(4){    
    left: 55%;
      
    /* margin-left: 8px; */
    /* margin-right: 8px; */
  
}


/* input:nth-child(2):checked ~.cards{
    
} */
.reviews input:nth-child(3):checked ~.cards{
    transform: translate(-33.3%);
    
}
.reviews input:nth-child(4):checked ~.cards{
    transform: translate(-66.6%);
    
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
     width: 300%;
     transition: 0.5s;

}
.card>img{
    object-fit: cover;
    width: 120px;
    height: 120px;
    border-radius: 50%;

}
.card{
   flex-basis: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-top: 20px;

}
.content{
    text-align: center;
}
.content *{
    padding-top: 10px;

}

.cnt >a>img{
    height: 30px;
    width: 30px;
   
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cnt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}
.cnt *{
    padding: 5px;

}
.form{
    width: 100%;
    height:5% ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
  
}
.form > div{
    width: 80%;
}
.form>textarea{
    width: 80%;
    margin-top: 20px;

}
.msg{
    padding-left: 10px;
    padding-top: 10px;
}


.name{
    height: 35px;
    width: 100%;
    display: block;
    padding-left: 10px;
}
.btn{
    padding: 10px;
    background-color: #232322;
    color: #017DEC;
    border-radius: 15px;
    margin:10% 35%;    
    width: 100px;
    font-size: 1.1rem;
    
}

footer{
    height: 30%;
    width: 100%;
    background-color: #017DEC;
    padding: 20px;
    text-align: center;
}