@media screen and (min-width:481px){
   *{
    padding: 0;
    margin:0;
   }
    .header{
        margin-top: 20px;
    }
    .nav-img>img{
        width: 30px;
        margin-bottom: 5px;
        text-align: center;
        
    }
    .hometxt{
        width: 100%;
        /* border: 3px solid black; */
    }
    .flanding{
        font-size: 1.5em;
    }
    ul>li{
        font-size: 1.5em;
    }
    
    .micons >a>img{
        height: 30px;
        width: 30px;
    }

    .details >img{
        width: 40%;
        border-radius: 50%;
        box-shadow: 2px 2px 30px rgba(0,0,0,0.15);
    
    }

   .fadefont{
    font-size: 1.7em;
   }
   .fontpara{
    font-size: 1.7em;
    color: rgba(0,0,0,0.65);
   }
   .reviews input:nth-child(2){    

    left: 42%;
    
    }
    .reviews input:nth-child(3){    
        
        left: 47.5%;    

        
    }
    .reviews input:nth-child(4){    
        left: 55%;

    
    }
    .projects{
        width: 80%;
        /* border: 2px solid black; */
        margin: 20px auto;
        margin-bottom: 60px;
    }
    .pts{
      
        flex-grow: 1;
        flex-shrink: 0;
        /* border: 3px solid black; */
        width: 40%;
        margin: 10px;
    }
    .plist{
        margin-top: 10px;
        flex-direction: row;
        justify-content: space-evenly;
        /* border: 3px solid black; */
        flex-wrap: wrap;
    }
    .pts>img{
        width:100%;
    }
    .hver>p{
        font-size: 1.1em;
    }
    .reviews{
        
        width: 80%;
        margin: 20px auto;
       
    }
    .content>p{
        text-align: center;
    }
    
    .elements{
        display: flex;
        width: 80%;
/*         
        border: 3px solid black; */
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        
    }
    .cnt{
        width: 40%;
        /* border: 3px solid black; */
        flex-shrink: 0;
    }
    .cnt >a>img{
        width: 40px;
        height: 50px;

    }
    .form{
        width: 80%;
        /* margin:16px; */
      
        
    }
    
    .name{
        width: 100%;
        /* height: 40px; */
    }
  
    
}

@media screen and (min-width:769px){
    .header,.nav-name{
      display: none;
    }
    .lap-nav-bar{
        display: block;
        /* display: flex; */
        /* border: 3px solid black; */
    }
    .lap-nav-bar ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
    }
    .lap-nav-bar ul li{
        margin: 1em 2em;
    }
}
