


@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Inter:wght@100;200&family=Noto+Sans+Georgian:wght@400;500&family=Prompt:wght@100;400&family=Quicksand:wght@300;400;500;600;700&family=Rajdhani:wght@300&family=Tilt+Prism&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
 
}
html,body{
    scroll-behavior: smooth;
    
}
a{
  text-decoration: none;  
}
.home {
    
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(360deg, rgba(228,244,251,1) ,rgba(213,225,234,1));
    overflow: hidden;
        

}

.landing >img{
    display: block;
    width: 90%;
    height: 60vh;
    margin: 0 1em;
    margin: 0 auto;
 
    margin-bottom: 4em;
}

.vector{

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}
nav{
    font-family: 'Quicksand', sans-serif;
}
.lap-nav-bar{
    /* visibility: hidden; */
    display: none;
}
.nav-bar li{
    transform:translatey(-100%);
    opacity:0;
    transition:0.2s;
}
.nav-bar li:nth-child(4){
    transition-delay:0.1s;
}
.nav-bar li:nth-child(3){
    transition-delay:0.2s;
}
.nav-bar li:nth-child(2){
    transition-delay:0.3s;
}
.nav-bar li:nth-child(1){
    transition-delay:0.4s;
}
.svg-menu{
    position: relative;
    z-index:10;
}

.nav-img{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

    /* margin-top: 100%; */
    
}

.nav-name{
    margin-top: 10px;
    display: flex;
    /* border: 2px solid black; */
    width: 100%;
    align-items: center;
    /* justify-content: center; */
    /* justify-content: space-around; */
    margin-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
}
.nav-name h2{
    padding-left: 1rem;
    margin-right: auto;
    /* width: 80%; */
    /* margin-left: 23px; */
}
.nav-img>img{
    width: 25px;
    margin-bottom: 5px;
    text-align: center;
    
}

ul>li>a>img{
    transition: 0.3s;
}
.nav-txt{
    font-size: 0.8em;
}
.nav-img:hover img{
    transform: scale(1.5);
    
}
.micons-img:hover img{
    transform: scale(1.5);
    /* transition: 0.5s; */

}
/* li:hover a{
    transform: scale(1.6);
    

} */
.nav-bar{
     width: 100%;
     /* margin-top: -20%; */
     /* margin-left: 65%; */
     /* background-color: red;; */
}
.nav-bar>ul{ 
       
        display: flex;        
        justify-content: space-around;
        align-items: center;         
        /* height:20vh ;  */
        width: 100%;
        /* border: 3px solid black;      */
     
        list-style: none;

}
svg{
     width:100px;
     height: 40px;
     padding-left: 1em;
   
}
#clc{
        display: none;
        transition: 1s;
        
}



#clc:checked ~ .header ul li{      
       transform: translatey(0%);
       opacity:1;
    }

 
.hometxt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -7em;
    /* border: 3px solid black;   */
}  


.micons>a>img{
    height: 20px;
    width: 20px;
    transition: 0.2s;
}

.micons{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;    
    width: 80%;
    margin: auto ;
    padding: 1em;
   
  
}
.micons:hover .micons>a{
    transform: scale(1.5);
    
}
.flanding{
    font-family: 'Prompt', sans-serif;
    font-size: 1.3em;
}    
.fonthead{
    font-weight: 400;
    font-size: 2em;
    font-family: 'Quicksand', sans-serif;
}
.fontpara{
    padding: 1em;
    font-size: 1.3em;
   
    text-align: center;    
    font-family: 'Noto Sans Georgian', sans-serif;
    

}
    
.int{
    font-size: 1em;
    font-weight: 100;
}
.cardt{
    box-shadow: 0  20px 50px  rgba(39,38,38,0.3);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 90%;
    margin: auto;
    padding-bottom: 1.5em;
    padding-top: 2em;
    background-color:white;
    margin-top: 2em;
    margin-bottom: 2em;
    
    

}
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.details>img{
    width: 80%;
    border-radius: 50%;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.15);

}
.details *{
    text-align: center;
    
    overflow: hidden;
    /* background-color: #232322; */
    /* color: white; */

}
.details >h1{
    /* color: rgba(0,0, 0, 0.5); */
    margin-top: 5px;
}
.fadefont{
    color: rgba(0,0, 0, 0.5);
    margin-top: 5px;
    /* color: white; */
}

.box{
    display: flex;
    background-color: #017DEC;    
    align-items: center;
    padding:0.3em 0.5em;
    border-radius: 20px;  
    justify-content: space-between;  
}

.bar{
    padding: 0% 5% 0 0;
    margin: 4%;
    margin-left: 4%;
    margin-right: 4%;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.3)inset;  
    color: white;
    border-radius: 20px;
    
    
}
.bar1{
    width: 100%;
}
.bar2{
    width: 97%;
}
.bar3{
    width: 95%;
}



.box >p{
    font-size: 1em;
    padding: 0 0.5em;
}
.box>h2{
    font-size: 1.2em;
    font-family: 'Quicksand', sans-serif;
    padding: 0 0.5em;
}
.plist{
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pts>img{
    width: 100%;
    height: 100%;
   

    
} 
.pts{
    display: flex;
    justify-content: center;
    justify-content: center;
    border: 3px solid rgba(230, 230, 230, 1);
    width: 90%;
    margin: 5%;
    position: relative;
    box-sizing: border-box;
}
.projects >h1{
    text-align: center;       
    /* color: white; */
    padding-top: 10px;
    margin-bottom: 20px;
}
.projects{
    background-color: white;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
}

.hver{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;  
    /* background-color: #232322; */
    background-color:white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.1em;
    opacity: 0;
  
    /* transition: 0.5s; */
    

}

.hver >p{
    margin-bottom: 0.5em;
    color: black;
    padding: 1em;
    font-size: 1em;

}
.hver >a{
    background-color:rgba(213,225,234,1);
    padding: 0.8em 0.5em;
    border-radius: 30px;
    color: black;
    font-size: 0.8em;
}
.pts:hover .hver{
    opacity: 1;
    transition: 0.5s;
    
}
.reviews{
    margin:16px ;  
    position: relative;
    padding-bottom: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* background-color: #232322; */
    text-align: center;

    

}
/* .reviews >h2{
    text-align: center;
    font-size: 2rem;
} */
.rbtn{
    position: absolute;
    /* width: 30px; */
    bottom: 8px;
    left: 8px;
    transition: 0.5s;
    display: inline-block;
   
}
.reviews input:nth-child(2){    

    left: 40%;
    
}
.reviews input:nth-child(3){    
    
    left: 45%;    
    margin-left: 10px;
    margin-right: 50px; 
    
}
.reviews input:nth-child(4){    
    left: 57%;
      
    /* margin-left: 8px; */
    /* margin-right: 8px; */
  
}


/* input:nth-child(2):checked ~.cards{
    
} */
.reviews input:nth-child(3):checked ~.cards{
    transform: translate(-33.3%);
    
}
.reviews input:nth-child(4):checked ~.cards{
    transform: translate(-66.6%);
    
}
input[type=radio].rbtn{
    accent-color: grey;
    
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
     width: 300%;
     transition: 0.5s;

}
.card>img{
    object-fit: cover;
    width: 120px;
    height: 120px;
    border-radius: 50%;

}
.card{
   flex-basis: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-top: 20px;

}
.content{
    text-align: center;
}
.content *{
    padding-top: 10px;

}

.cnt >a>img{
    height: 30px;
    width: 30px;
   
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    margin-bottom: 5em;
    text-align: center;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}
.cnt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    font-family: 'Quicksand', sans-serif;
}
.cnt *{
    padding: 5px;

}
.cnt>p{
    font-size: 1.3em;
}
.form{
    width: 100%;
    height:5% ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    /* border: 2px solid black; */
   
  
}
.felemnts{
    /* margin-top: 20px; */
    text-align: center;
    margin-bottom:1.5rem;
}
.form{   
    text-align: center;
}
.form > div{
    width: 90%;
    
}
.form>textarea{
    display:block;
    width: 90%;
    /* margin-top: 10px; */

}
.msg{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 1.2rem;
    
}


.name{
    /* height: 35px; */
    width: 100%;
    display: block;
    padding-left: 10px;
    margin-bottom: 1rem;
    padding:16px 16px;
    font-size:1.2rem;
    
}
.btn{
    padding: 1em;
    background-color: rgba(0,0, 0, 0.5);
    color: white;
    border-radius: 20px;
    text-align: center;    
    width: 150px;
    font-size: 1.2em;
    margin: 1.5em ;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    /* margin-right: 2em; */
    
}

footer{

    width: 100%;
    background-color: #017DEC;
    padding: 1.1em;
    text-align: center;
    color: black;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    text-align: justify;
    
}
footer >*{
    padding-bottom: 0.5em;
}
.fname{
    font-style: bold;
    font-weight: 800;
}
.brdr{
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
}

/* section background colors */
.bggrey{
    width: 100%;
    background-color: rgba(213,225,234,1);
    padding: 2em;
    overflow: hidden;
}
.projects{
    background-color:rgba(228,244,251,0.7) ;

}
.bgblue{
    width: 100%;
    background-color:rgba(228,244,251,0.7) ;
    overflow: hidden;
    /* border: 2px solid black; */
}